<%= form_for @milestone, html: {class: 'form-horizontal', role: 'form'} do |f| %>
    <%= render 'shared/error_messages', object: f.object %>
    <div class="form-group">
      <%= f.label '标题', class: 'col-sm-offset-1 col-sm-2 control-label' %>
      <div class="col-sm-7">
        <%= f.text_field :name, class: 'form-control', required: true, placeholder: '请输入里程碑标题' %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label '内容', class: 'col-sm-offset-1 col-sm-2 control-label' %>
      <div class="col-sm-7">
        <div class="field">
          <%= f.text_area :content, class: 'form-control', placeholder: '请输入里程碑内容描述' %>
        </div>
      </div>
    </div>

    <div class="form-group">
      <%= f.label '开始时间', class: 'col-sm-offset-1 col-sm-2 control-label' %>
      <div class="col-sm-7">
          <%= f.date_field :start_date, required: true %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label '结束时间', class: 'col-sm-offset-1 col-sm-2 control-label' %>
      <div class="col-sm-7">
        <%= f.date_field :due_date, required: true %>
      </div>
    </div>

    <div>
      <%= f.submit '提交', class: 'btn btn-success col-sm-offset-5' %>
      <%= link_to '取消', milestones_path, class: 'btn btn-default col-sm-offset-1' %>
    </div>
<% end %>
