<div class="panel panel-info">
  <div class="panel-body milestone" id="milestone-<%= milestone.id %>">
    <div class="row">
      <%= link_to milestone.name, milestone_path(milestone), class: 'name' %>
      <% if manager_logged_in? %>
          <%= link_to '新建ISSUE', new_issue_path(milestone_id: milestone.id), class: 'btn btn-info' %>
      <% end %>
    </div>
    <div class="row">
      <%= link_to @issues_count[milestone.id], issues_path(milestone_id: milestone.id), class: 'issues-count' %>
    </div>
    <div class="row timestamp">
      期望完成日期: <%= link_to milestone.due_date , edit_milestone_path(milestone) %>
    </div>
  </div>
</div>
