<div class="container-fluid">
  <div class="row">
    <div class="col-md-offset-1 col-md-9">
      <div class="panel panel-success">
        <div class="panel-heading">
          <h4 class="text-center">修改: <%= @milestone.name %></h4>
        </div>
        <div class="panel-body">
          <%= render 'milestones/form' %>
        </div>
      </div>
    </div>
  </div>
</div>