<div class="container-fluid">
  <div class="row" style="padding-top: 5px">
    <div class="col-md-10 col-md-offset-1">
      <% if @milestone_items.blank? %>
          <div class="panel panel-info">
            <div class="panel-body">
              无创建的里程碑项目
            </div>
          </div>
      <% else %>
          <ol class="milestones">
            <%= render @milestone_items %>
          </ol>
          <%= will_paginate @milestone_items %>
      <% end %>
    </div>
  </div>
</div>