<div class="container-fluid">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <div class="panel panel-success">
        <div class="panel-heading">
          <h4 class="text-center">新里程碑项目</h4>
        </div>
        <div class="panel-body">
          <%= render 'milestones/form' %>
        </div>
      </div>
    </div>
  </div>
</div>