<%= form_for @milestone_issue, url: issues_path(milestone_id: params[:milestone_id]), html: {class: 'form-horizontal', role: 'form'} do |f| %>
    <%= render 'shared/error_messages', object: f.object %>
    <div class="form-group">
      <%= f.label '标题', class: 'col-sm-offset-1 col-sm-2 control-label' %>
      <div class="col-sm-7">
        <%= f.text_field :name, class: 'form-control', required: true, placeholder: '请输入ISSUE标题' %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label '内容', class: 'col-sm-offset-1 col-sm-2 control-label' %>
      <div class="col-sm-7">
        <div class="field">
          <%= f.text_area :content, class: 'form-control', required: true, placeholder: '请输入ISSUE内容' %>
        </div>
      </div>
    </div>

    <div class="form-group">
      <%= f.label '结束时间', class: 'col-sm-offset-1 col-sm-2 control-label' %>
      <div class="col-sm-7">
        <%= f.date_field :due_date, required: true %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label '负责人', class: 'col-sm-offset-1 col-sm-2 control-label' %>
      <div class="col-sm-7">
        <%= f.select :assignee_id, options_for_select(@member_collect),
                     { include_blank: '被指派人'}, class: 'ui dropdown', required: true %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label 'Tag', class: 'col-sm-offset-1 col-sm-2 control-label' %>
      <div class="col-sm-7">
        <div class="input-group">
          <div class="input-group-addon"><span class="glyphicon glyphicon-arrow-right"></span></div>
          <%= f.text_field :tag, class: 'form-control', placeholder: '请输入标签' %>
        </div>
      </div>
    </div>
<!--    <%= hidden_field_tag 'milestone_id', @milestone_id %>
    <%= hidden_field_tag 'user_name_list', @user_names %>-->
    <%= f.submit '提交', class: 'btn btn-success col-sm-offset-4' %>
    <%= link_to '取消', home_path, class: 'btn btn-default col-sm-offset-1' %>
<% end %>