<% if controller_name == 'issues' and action_name == 'index' %>
    <li class="issuable-row">
        <span>
          <strong><%= link_to issue.name, issue_path(milestone_id: issue.milestone_id, id: issue.id) %></strong>
        </span>
      <div class="issuable-detail">
        <%= link_to issue_path(milestone_id: issue.milestone_id, id: issue.id) do %>
            <span class="issuable-number">#<%= issue.id %></span>
        <% end %>
        <% if issue.tag != '' %>
          <span class="label color-label" style="color: #fff;" +
                <% 'background-color: red' if issue.tag == 'bug' %>
                data-container="body"><%= issue.tag %></span>
        <% end %>
        <span class="assignee-name">负责人: <%= @assignee_info[issue.assignee_id] %></span>
      </div>
    </li>
<% else %>
    <div class="panel panel-info">
      <div class="panel-heading">
        期望完成日期:  <%= issue.due_date %>
        <span class="issue-user">
    <% if action_name == 'manager_issues' %>
        负责人: <%= @assignee_info[issue.assignee_id] %>
    <% end %>
          <% if action_name == 'assignee_issues' %>
        指派人: <%= issue.user.name %>
    <% end %>
    </span>
      </div>
      <div class="panel-body"><%= issue.name %></div>
      <div class="panel-footer text-center">
        <% if issue.i_state == Status::START %>
            <div class="btn-group">
              <%= link_to home_change_issue_path(id: issue.id, state: Status::CREATE, source_action: action_name),
                          method: :put, class: 'btn btn-info btn-sm btn-state' do %>
                  <i class="fa fa-arrow-left"></i>
              <% end %>
              <%= link_to home_change_issue_path(id: issue.id, state: Status::CLOSE, source_action: action_name),
                          method: :put, class: 'btn btn-info btn-sm btn-state' do %>
                  <i class="fa fa-arrow-right"></i>
              <% end %>
            </div>
        <% elsif issue.i_state == Status::CREATE %>
            <%= link_to home_change_issue_path(id: issue.id, state: Status::START, source_action: action_name),
                        method: :put, class: 'btn btn-info btn-sm btn-state' do %>
                <i class="fa fa-arrow-right"></i>
            <% end %>
        <% else %>
            <%= link_to home_change_issue_path(id: issue.id, state: Status::START, source_action: action_name),
                        method: :put, class: 'btn btn-info btn-sm btn-state' do %>
                <i class="fa fa-arrow-left"></i>
            <% end %>
        <% end %>
      </div>
    </div>
<% end %>