<div class="container-fluid milestone-content">
  <div class="row">
    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          <div class="title"> Issues To Do </div>
          <div class="counter"> <%= @to_do.count %> </div>
        </div>
        <ul class="well-list">
          <%= render @to_do %>
        </ul>
      </div>
    </div>
    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          <div class="title"> Issues Doing </div>
          <div class="counter"> <%= @doing.count %> </div>
        </div>
        <ul class="well-list">
          <%= render @doing %>
        </ul>
      </div>
    </div>
    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          <div class="title"> Issues Done </div>
          <div class="counter"> <%= @done.count %> </div>
        </div>
        <ul class="well-list">
          <%= render @done %>
        </ul>
      </div>
    </div>
  </div>
</div>