<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= @user.name %>
      </h1>
    </section>
  </aside>
  <div class="col-md-8">
    <% if @user.milestones.any? %>
        <h3>Milestones (<%= @user.milestones.count %>)</h3>
        <ol class="milestones">
          <%= render @milestones %>
        </ol>
        <%= will_paginate @milestones %>
    <% end %>
  </div>
</div>