<div class="panel-group" id="accordion">

  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">

        <% if manager_logged_in? %>
            <a data-toggle="collapse" data-parent="#accordion" href="#MilestoneCollapse"><span class="glyphicon glyphicon-user"></span>
              里程碑项目管理</a>
        <% end %>

        <% if member_logged_in? %>
            <a data-toggle="collapse" data-parent="#accordion" href="#MilestoneCollapse"><span class="glyphicon glyphicon-user"></span>
              任务查看</a>
        <% end %>

      </h4>
    </div>

    <div id="MilestoneCollapse" class="panel-collapse collapse <%= 'in' if ['milestones'].include?(params[:controller]) %>">
      <ul class="list-group">
        <% if manager_logged_in? %>
            <li class="list-group-item">
              <%= link_to milestones_path do %>
                  <span class="glyphicon glyphicon-chevron-right"></span> 已创建的里程碑项目
                  <span class="label label-info pull-right"><%= current_user.milestones.count %></span>
              <% end %>
            </li>
            <li class="list-group-item">
              <%= link_to new_milestone_path do %>
                  <span class="glyphicon glyphicon-chevron-right"></span> 创建新里程碑
              <% end %>
            </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
