<div class="top-area">
  <ul class="nav nav-pills nav-links">
    <% if manager_logged_in? %>
        <li>
          <%= link_to home_path do %>
              创建的里程碑 &nbsp;
              <% if @milestone_count > 0 %>
                  <span class="label label-info pull-right"><%= @milestone_count %></span>
              <% end %>
          <% end %>
        </li>
        <li>
          <%= link_to home_manager_issues_path  do %>
              创建的ISSUE &nbsp;
              <% if @manager_issue_count > 0 %>
                <span class="label label-info pull-right"><%= @manager_issue_count %></span>
              <% end %>
          <% end %>
        </li>
    <% end %>
    <% if member_logged_in? %>
        <li class="disabled"><a href="#">创建的里程碑</a></li>
        <li class="disabled"><a href="#">创建的ISSUE</a></li>
    <% end %>
    <li>
      <%= link_to home_assignee_issues_path do %>
          被指派的ISSUE &nbsp;
          <% if @assignee_issue_count > 0 %>
            <span class="label label-info pull-right"><%= @assignee_issue_count %></span>
          <% end %>
      <% end %>
    </li>
  </ul>
</div>