<div class="container-fluid">
  <div class="row" style="padding-top: 5px">
    <% if manager_logged_in? %>
        <% if action_name == 'index' %>
          <% if @milestone_count > 0 %>
          <% else %>
                <div class="col-md-12">
                  <div class="panel panel-info">
                    <div class="panel-body">
                      <% if manager_logged_in? || admin_logged_in? %> <%= action_name %> just for test
                      <% end %>
                    </div>
                  </div>
                </div>
          <% end %>
        <% end %>
    <% end %>
  </div>
</div>
