/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require font-awesome
 *= require_self
 */

.container-limited {
    max-width: 1280px;
}

.page-title {
    margin-right: 50px;
    margin-top: 10px;
    line-height: 1.3;
    font-size: 1.25em;
    font-weight: 600;
}

.md-area {
    padding: 10px 16px;
    border: 1px solid #e5e5e5;
    border-radius: 3px;
}

.row-content-block {
    margin-top: 0;
    margin-bottom: -16px;
    background-color: #fafafa;
    padding: 16px;
    border-top: 1px solid #eaeaea;
    border-bottom: 1px solid #eaeaea;
    color: rgba(0,0,0,0.85);
}

.top-area, .wiki-page-header {
    width: 1250px;
    margin-left: 50px;
    border-bottom: 1px solid #f0f0f0;
}

.top-area .nav-links {
    margin-left: 0px;
}
