// Place all the styles related to the issues controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.issue-user {
  float: right
}

.btn-state {
  margin-right: 10px;
}

.panel {
  border: 1px solid transparent;
}

.panel-default {
  margin-bottom: 16px;
  box-shadow: none;
  border-color: #e5e5e5;
  background-color: #fff;
  border-radius: 2px;
}

.milestone-content .panel-heading {
  line-height: 1.42857143;
  padding: 14px 16px;
  display: -webkit-flex;
  display: flex;
  .title {
    flex: 1;
    flex-grow: 2;
  }
  .counter {
    -webkit-flex: 1;
    flex: 0;
    padding-left: 16px;
  }
}

.panel-default>.panel-heading {
  color: rgba(0,0,0,0.85);
  background-color: #fafafa;
  border-color: #e5e5e5;
  padding: 10px 15px;
  border-bottom: 1px solid transparent;
  border-top-right-radius: 1px;
  border-top-left-radius: 1px;
}

.well-list {
  position: relative;
  margin: 0;
  padding: 0;
  list-style: none;
}

.well-list>li {
  padding: 10px 15px;
  min-height: 20px;
  border-bottom: 1px solid rgba(0,0,0,0.05);
}

.issuable-row {
  background-color: #fff;
  cursor: -webkit-grab;
  li {
    display: list-item;
    text-align: -webkit-match-parent;
  }
  .assignee-name {
    float: right;
    margin-right: 5px;
  }
}
