// Place all the styles related to the Milestones controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// @import 'simditor';
@import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'bootstrap/theme';

.milestone {
  .name {
    font-weight: bolder;
    margin-left: 5px;
  }
  .timestamp {
    color: $gray-light;
    display: block;
    margin-left: -10px;
  }
  .issues-count {
    margin-left: 5px;
  }
  .btn {
    border-radius: 3px;
    font-size: 12px;
    font-weight: 400;
    padding: 6px 10px;
    background-color: #fff;
    border-color: #e5e5e5;
    height: 30px;
  }
  .btn-info {
    // background-color: #1aaa55;
    // border-color: #168f48;
    // color: #fff;
    margin-right: 5px;
    float: right;
  }
  .btn:hover, .btn:focus, .btn.focus {
    color: #f0f0f0;
    text-decoration: none;
  }
}

.top-area {
  .btn-new-milestone {
    margin-top: 5px;
    float: right;
    margin-right: 70px;
  }
}
/*
.milestones {
  list-style: none;
  padding: 0;
  li {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
  }
  .user {
    margin-top: 5em;
    padding-top: 0;
  }
  .content {
    display: block;
    margin-left: 60px;
    img {
      display: block;
      padding: 5px 0;
    }
  }

  .gravatar {
    float: left;
    margin-right: 10px;
    margin-top: 5px;
  }
}*/
