// Place all the styles related to the Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'bootstrap/theme';

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  //margin-left: 10px;
}

.table{
  margin-bottom: 10px;
}

.table-striped > tbody > tr:hover >td.has_hover {
  background-color: #C0C0C0;
}

footer {
  background-color: #555;
  color: white;
  padding: 10px;
}

.body-background{
  background-image: image-url('background.jpg');
  //background-color: #DADADA;
  //background-repeat: no-repeat;
  //background-size: 100% 100%;
}

body {
  padding-top: 50px;
  padding-bottom: 100px;
}

html {
  height: 100%;
}